/* OUTER GRID ON RIGHT */

.grid-right-container {
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: repeat(2, 250px);
}

/* TOP */

.grid-items-right-top {
    display: grid;
    grid-template-columns: 80px 80px 240px;
    grid-template-rows: 50px 100px 100px;
}

.white-8, .white-9, .white-10 {
    border-top: 4px solid black;
    border-bottom: 2px solid black;
}

.white-8, .white-11, .white-12 {
    border-left: 4px solid black;
}

.white-10, .red-4, .red-6 {
    border-right: 2px solid black;
}

.white-11 {
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
}

.white-12 {
    border-top: 2px solid black;
    border-right: 2px solid black;
}

.red-3, .red-4, .red-5, .red-6 {
    background-color: red;
    color: white;
}

.red-5, .red-6 {
    border-bottom: 4px solid black;
}

.red-3, .red-4 {
    border-top: 2px solid black;
}

.red-4, .red-6 {
    border-right: 4px solid black;
}

.red-3, .red-5 {
    border-left: 2px solid black;
}


/* OUTER GRID IN CENTER */
.grid-center-container {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(2, 250px);
}

/* TOP LEFT YELLOW SQUARE */
.grid-item_center-top-left {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 50px 100px 100px;
}

.yellow-1, .yellow-2, .yellow-3, .yellow-4 {
    background-color: yellow;
}

.yellow-1, .yellow-2 {
    border-top: 4px solid black;
    border-bottom: 2px solid black;
}

.yellow-1, .yellow-3 {
    border-left: 4px solid black;

}

.yellow-2, .yellow-4 {
    border-right: 2px solid black

}

.yellow-3, .yellow-4 {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.white-1, .white-2 {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    
}

.white-1 {
    border-left: 4px solid black;
    border-right: 2px solid black;
}

.white-2 {
    border-right: 2px solid black;
    border-left: 2px solid black;
}

/* TOP RIGHT BLUE & RED SQUARE */

.grid-item_center-top-right {
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: repeat(2, 100px) 50px;
}

.blue-1 {
    background-color: lightskyblue;
    color: white;
    border-top: 4px solid black;
    border-right: 4px solid black;
    border-left: 2px solid black;;
}

.red-1 {
    background-color: red;
    color: white;
    border-right: 4px solid black;
    border-top: 4px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}

.white-3 {
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 4px solid black;
}

/* BOTTOM LEFT RED & BLUE SQUARE */

.grid-item-center-bottom-left {
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 50px repeat(2, 100px);
}

.white-4 {
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-left: 4px solid black;;
}

.blue-2 {
    background-color: lightskyblue;
    color: white;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 4px solid black;
}

.red-2 {
    background-color: red;
    color: white;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 4px solid black;
    border-bottom: 4px solid black;
}

/* BOTTOM RIGHT YELLOW & WHITE SQUARE */

.grid-item-center-bottom-right {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2, 100px) 50px;
}

.white-5, .white-6 {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    
}

.white-5 {
    
    border-right: 2px solid black;
}

.white-6 {
    border-right: 4px solid black;
}

.yellow-5, .yellow-6 {
    background-color: yellow;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.yellow-5 {
    border-left: 2px solid black;

}

.yellow-6 {
    border-right: 4px solid black

}

.white-7 {
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 4px solid black;
}

.black-1 {
    background-color: black;
    color: white;
}